.App {
  text-align: center;
}

.supportTop {
  width: 30px;
  height: 70px;
  margin: 0px auto;
  background-color: black;
}

.trafficControl {
  width: 200px;
  height: 510px;
  border-radius: 25px;
  margin: auto;
  background-color: black;  
}

.redLight {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  margin-top: 15px;
  margin-left: 25px;
  background-color: red;
}

.yellowLight {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  margin-top: 180px;
  margin-left: 25px;
  background-color: yellow;
}

.greenLight {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  margin-top: 345px;
  margin-left: 25px;
  background-color: green;
}

.shadow {
  box-shadow: 0px 0px 100px 25px rgba(237, 237, 26, 1) !important;
}